mixin feature_products()
	section.feature_products
		section.container
			article.title_section
				section.title_product
					h2 feature products
					p.p_line Lorem ipsum dolor sit amet, consectetur adipis cing elit,sed do eius&shy;mod tempor incididunt ut labore et.
			nav.products
				ul
					li
						a(href="#") all
					li
						a(href="#") print template
					li
						a(href="#") web template
					li
						a(href="#") user interface
					li
						a(href="#") mock-up
			article.galleries_products
				.product_1.img_size
					img(src="../../img/galleries/products/img_1.png", alt="#")
				.product_2.img_size
					img(src="../../img/galleries/products/img_1.png", alt="#")
				.product_3.img_size
					img(src="../../img/galleries/products/img_1.png", alt="#")
				.product_4.img_size
					img(src="../../img/galleries/products/img_1.png", alt="#")


				.product_5.img_size
					img(src="../../img/galleries/products/img_1.png", alt="#")
				.product_6.img_size
					img(src="../../img/galleries/products/img_1.png", alt="#")
				.product_7.img_size
					img(src="../../img/galleries/products/img_1.png", alt="#")
				.product_8.img_size
					img(src="../../img/galleries/products/img_1.png", alt="#")
