mixin team()
	section.team
		section.container
			section.title_section
				section.title_team
					h2 Meet our team
					p.p_line Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed dooing eiusmod tempor incididut labore Ui / Ux , print temp&shy;late. 