mixin header()
	header.header
		section.container
			section.head_menu
				nav.menu
					ul
						li
							a(href="#") Home
						li
							a(href="#") Portfolio	
						li
							a(href="#") About Us
						li
							a(href="#") Contact
			section.head_section.title_section
				section.title
					h1 our strong organaisation
					p Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt ut labore et. 			Lorem ni ipsum dolor sit amet, consectetur adipis cing elit, ed doi eiusmod tempor incididunt ut labore et.
					a(href="#").button Contact Us
				section.head_video
					video(controls loop src="../video/trailer.mp4")

			
				

			


