mixin what_we_can()
	section.what_we_can
		section.container
			section.title_section
				section.title-do_you_know
					h2 do you know we can provide for you ?
					p Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eius&shy;mod tempor incididunt ut labore et.Lorem 	ni ipsum dolor sit amet, consectetur adipis cing elit, ed doi eiusmod tempor incididunt ut labore et.
					a(href="#").button Learn More
				section.skills
					section.skill_Management.icon1.skill
						img(src="../img/icon/Settings.svg", alt="Settings")
						h3 Management
						p Lorem ipsum dolor sitea amet, zixf conseit  adipi cing elit, seddi do eius&shy;mod btdempor in didunt utlae ore etioe.Lorem ipsum new idolor
					section.skill_Design.icon2.skill
						img(src="../img/icon/Pencil.svg", alt="Pencil")
						h3 UI /UX Design
						p Lorem ipsum dolor sitea amet, zixf conseit  adipi cing elit, seddi do eius&shy;mod btdempor in didunt utlae ore etioe.Lorem ipsum new idolor sit amet,
					section.skill_Logo.icon3.skill
						img(src="../img/icon/Diamond.svg", alt="Diamond")
						h3 Logo / Branding
						p Lorem ipsum dolor sitea amet, zixf conseit  adipi cing elit, seddi do eius&shy;mod btdempor in didunt utlae ore etioeew idolor sit amet,
					section.skill_Animation.icon4.skill
						img(src="../img/icon/Truck_2.svg", alt="Truck")
						h3 Animation
						p Lorem ipsum dolor sitea amet, zixf conseit  adipi cing elit, seddi do eius&shy;mod btdempor in didunt utlae ore etioe.Lorem ipsum new idolor sit amet,
		